.img-portada{
    border-radius: 30px;
    width: 30%;
}

.background{
    background-image: url("../img/fondo.jpeg");
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
    
.lenguaje{
    background-color: rgba(215,215,215,0.4);
    position: relative;
    z-index: -1;
    border-radius: 10px;
    border: none;
}

.id{
    background-color: rgba(0,0,0,0.7);
    position: relative;
    z-index: -1;
    border: none;
}

.footer{
    background-color: rgba(0,0,0,0.6);
}

.unete{
    background-color: #28B463;
    box-shadow: 2px 2px 5px #186A3B;
}

.unete:hover{
    background-color: #28B463;
    box-shadow: 2px 2px 5px #186A3B;
}